*{
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin:5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pozadina{
    margin-left: 10px;
    color: white;
    font-size: 1.8rem;
}
.pozadina:hover{
    border-bottom: 3px solid white;
}
table td, th{
    font-size: x-large;
    background-color: transparent;
    margin: 5px;
    border: 3px solid black;
    table-layout: fixed;
    text-align: center;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}
.background{
    background-image: url(https://www.despot.com.hr/thumb/Pozadine-za-slike-djecu-djeca-foto-pozadine-tu%C5%A1-kola%C4%8D-4_storage/181903.jpeg) ;
}